{
  "firebase": "your_firebase_app_name",
  "public": "dist",
  "ignore": [
    "firebase.json",
    "**/.*",
    "**/node_modules/**"
  ],
  "rules": "config/rules.json",
  "rewrites": [ {
    "source": "**",
    "destination": "/index.html"
  } ]
}
