.btn:focus, .btn:active:focus {
  outline: none;
}

.navbar-collapse {
  overflow: hidden;
}

.daterangepicker.dropdown-menu, .daterangepicker .calendar-table, .daterangepicker td.off{
  background-color: #CCC;
}

.daterangepicker table {
  background-color: #CCC;
  color: #000;
}

.daterangepicker td.available:hover {
  background-color: #BBB;
}